<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - MUSIC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>
<body class="login-body">
    <div class="login-container">
        <div class="login-box">
            <div class="login-logo">
                <img src="{{ url_for('static', filename='images/default_profile_pic.png') }}" alt="Music Logo">
            </div>
            <h1 class="login-title">MUSIC</h1>
            <p class="login-subtitle">Focado no seu processo criativo</p>
            <h3>Adicione sua foto de perfil</h3>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="message {{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form class="login-form" method="POST" action="{{ url_for('routes.cadastro') }}" enctype="multipart/form-data">

                <div class="form-group">
                    <input type="text" id="username" name="username" placeholder="Nome de Usuário" required>
                </div>
                
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                
                <div class="form-group">
                    <input type="text" id="nome_completo" name="nome_completo" placeholder="Nome Completo" required>
                </div>
                
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Senha" required>

                <div class="form-group file-input-container">
                    <label for="foto_perfil" class="file-label">
                        <span>Escolher Foto</span>
                    </label>
                    <input type="file" id="foto_perfil" name="foto_perfil" class="file-input">
                </div>

                <button type="submit" class="login-btn">Criar Conta</button>
            </form>
            <a href="{{ url_for('routes.login') }}" class="btn-secondary">Já tenho uma conta</a>
        </div>
    </div>
</body>
</html>