<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSIC - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/music_icon.svg') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-content">
            {% if session.logged_in %}
                <div class="header-left-side">
                    <a href="{{ url_for('routes.home') }}" class="logo-link">
                        <span>MUSIC</span>
                        <img src="{{ url_for('static', filename='images/default_profile_pic.png') }}" alt="Logo MUSIC" class="logo-image">
                    </a>
                    <nav>
                        <a href="{{ url_for('routes.home') }}">Biblioteca</a>
                        <a href="{{ url_for('routes.perfil') }}">Perfil</a>
                    </nav>
                </div>
                <div class="header-right-side">
                    <div class="user-info">
                        {% if g.usuario_atual.caminho_foto_perfil %}
                            <img src="{{ url_for('static', filename=g.usuario_atual.caminho_foto_perfil) }}" alt="Foto de Perfil" class="header-profile-pic">
                        {% else %}
                            <img src="{{ url_for('static', filename='images/default_profile_pic.png') }}" alt="Foto de Perfil" class="header-profile-pic">
                        {% endif %}
                        <span>Olá, {{ g.usuario_atual.username }}!</span>
                        <a href="{{ url_for('routes.logout') }}" class="btn btn-logout">Sair</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </header>

    <main class="logged-in-main">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="message {{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>